<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="https://scholar.google.com/citations?hl=en&user=1jID8DgAAAAJ&scilu=&scisig=AMD79ooAAAAAXOICQenpMYRrvF9QhOcjLbiP6Z9BBY6W&gmla=AJsN-F41TSvt_dKM33gWcxZQGphiWQMQUUYVLMj_YjMtqHG8VHd5sKwZioo4MSXoXjHVSYRU70qlx7d2uy_klxOOVXxdj6dKTxciWBowCLFxYaGQX4hj87g&sciund=16177851976640359585" target="_blank">Google Scholar</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sirenalao@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
